
html{
    font-family: Pridi;
}
p{
    font-size: 2vw;
}
p1{
    font-size: 1.5vw;
}
img{
    width: 30%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
html{
    
    background: linear-gradient(
    to right,
      #9575CD 0%,
      #9575CD 30%,
      #B39DDB 30%,
      #B39DDB 100%
  );
}
p2{
    font-size: 1.5vw;
    position: absolute;
    right: 28vw;
}
